@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Exo:wght@100&family=Press+Start+2P&display=swap');

h1{
    font-family: 'Bungee Hairline', cursive;
    font-family: 'Exo', sans-serif;

}
footer{
    font-family: 'Bungee Hairline', cursive;
    font-family: 'Exo', sans-serif;

}